.chat-1, .chat-4, .chat-3, .chat-2 {
  font-size: 40px;
  margin: 70px;
  background-color: rgb(172, 197, 214);
  border-radius: 15px;
  width: 50%;
}

.chats {
  background-color: #E3D0D8;
  width: 90%;
  margin: 10px;
  height: 650px;
  border-radius: 15px;
  margin-left: -100px;
}

.chat-2 {
  background-color: rgb(172, 197, 214);
}

.chat-3 {
  background-color: rgb(172, 197, 214);
}

.chat-4 {
  background-color: rgb(172, 197, 214);
}

.chat-1:hover, .chat-2:hover, .chat-3:hover, .chat-4:hover {
  width: 60%;
  background-color: rgb(172, 197, 214);
}

.chat-1, .chat-2, .chat-3, .chat-4 {
  transition-property: width;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.aside {
  background-color: #827081;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 45px;
  height: 1100px;
  background-image: linear-gradient(to bottom, #827081, rgb(44, 35, 40));
  animation-name: desliza;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.contenedor {
  background-color: #C6D2ED;
  width: 100%;
  display: flex;
}

.header {
  width: 85vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo {
  font-size: 50px;
  font-family: "Freehand", cursive;
}

.usuario {
  font-size: 40px;
}

.barra-buscador {
  width: 30%;
  height: 40px;
  padding: 15px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.enlace {
  color: white;
  text-decoration: none;
  margin-top: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale();
}

.selecciona {
  margin: 20px;
}

.carousel-inner {
  width: 50%;
  height: 50%;
  transform: scale(0.8);
  padding: 10px;
  font-size: 35px;
  margin-top: -120px;
}

.carousel-item {
  width: 50%;
  height: 50%;
  transform: scale(0.8);
  padding: 10px;
}

.imagenes__carousel {
  margin-top: -150px;
  max-height: 101vh;
}

.scale:hover {
  transform: scale(1.2);
}

@keyframes desliza {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .header {
    display: flex;
    width: auto;
  }
}
.imagenes__carousel {
  margin-top: 0px;
  font-size: 16px;
}

.recomendaciones {
  font-size: 16px;
}

.contenedor-empleos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: 16px;
  justify-content: space-around;
  padding: 0 50px 40px;
  margin: 0 auto;
}

.tarjeta {
  max-width: 300px;
  width: 18%;
  min-width: 150px;
}

.paginas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dupla-empleos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.recomendaciones {
  margin-left: 20px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.terminos {
  padding: 20px;
}

.terminos-condiciones {
  margin: auto;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=estilos.css.map */