.persona-1 {
    font-size: 40px;
    margin: 70px;
    background-color:rgb(172, 197, 214) ;
    border-radius: 15px;
    width: 70%;  
    max-height: fit-content; 
}   

.personas {
    background-color: $empleos;
    width: 90%; 
    margin: 10px;
    height: 650px;
    border-radius: 15px;
    margin-left: -100px;
}
.dupla-empleos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.persona-2 {
    @extend.persona-1;
    background-color: rgb(172, 197, 214);
}
.persona-3 {
    @extend.persona-1;
    background-color:rgb(172, 197, 214);
}
.persona-4 {
    @extend.persona-1;
    background-color:rgb(172, 197, 214);
}

@media (max-width: 1400px) {
    .persona-1 {
        font-size: 30px;
    }
}
@media (max-width: 1100px) {
    .persona-1 {
        font-size: 20px;
        margin: 30px auto;
    }
    .personas {
        height: 40vh;
    }
    .recomendaciones{
        font-size: 18px;
        padding: 5px;
    }
    .selecciona {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .persona-1 {
        font-size: 18px;
    }
}
