.terminos {
    padding: 20px;
}
.terminos-condiciones {
    margin: auto;
    background-color: $white;
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
}
@media (max-width: 768px) {
    .terminos {
        padding: 10px;
    }
    .terminos-condiciones {
        padding: 5px;
        font-size: 18px;
    }
}
